/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
    BODY
----------------*/
body {
    background-color: lightgray;
}
.container {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view, .view img {
    width: 50rem;
    height: 30rem;
    background-color: aqua;
    object-fit: cover;
}
.view {
    position: relative;
}

.description {
    position: absolute;
    bottom: 0;
    color: white;
}
.description {
    text-align: right;
    padding: 20px;
}
.collection {
    background-color: red;
    position: relative;
    width: 10rem;
    height: 30rem;
}
.collection img {
    object-fit: cover;
}
.item img, .item {
    width: 10rem;
    height: calc(30rem / 5);
}
.up, .down {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 10px 0;
    background-color: lightgray;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    cursor: pointer;
}
.down {
    bottom: 0;
}
#centrate-arrow {
    line-height: 25px;
    display: flex;
    justify-content: center;
}