/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
    BODY
----------------*/
body {
    background-color: lightgray;
}
.container {
    width: 56.25rem;
    height: 31.25rem;
    background-color: aqua;
    margin: auto;
    
}